<h2>Result</h2>

<p>

  <% if !@existing %>
    Sorry but <strong> <%= @word.upcase %> </strong> does not seem to be a valid English word...
  <% elsif !@in_the_grid %>
    Sorry but <strong> <%= @word.upcase %> </strong> can't be built out of <%= @letters.join(", ") %>.
  <% else %>
    <strong>Congratulations!</strong> <%= @word.upcase %> is a valid English word. Score: <%= @score %>.
  <% end %>
</p>

<p>Total score: <%= @total_score %>.</p>

<%= link_to "Play again", new_path %>
